@import url('https://fonts.cdnfonts.com/css/satoshi');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
  height: 100%;
}

html::-webkit-scrollbar {
  width: 10px;
  background: #000;
}

html::-webkit-scrollbar-thumb {
  background: #5e17eb;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #5e17eb;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-top,
.leaflet-pane{
  z-index: 0 !important;
}

.rdrMonth{
  width: 100% !important;
}

.rdrCalendarWrapper{
  width: 100% !important;
  font-size: 16px !important;
}